//- Define a form tag with the following attributes
//-   - action is "/users"
//-   - method is "POST"

//- Inside of the form, add four divs.

//- The first div has a label with an attribute "for" set to "id",
//- and text "ID".
//- It also has an input with type="text" and name="id"

//- The second div has a label with an attribute "for" set to "name",
//- and text "name".
//- It also has an input with type="text" and name="name"

//- The third div has a label with an attribute "for" set to
//- "description", and text "description".
//- It also has an input with type="text" and name="description"

//- The fourth div has a button with type="submit", and the text "Create user"
